*.rpyc
!old-game/**

*.rpyc~
*.rpy~
*.rpyb
*.save
*.bak
*.json

*.DS_Store
.vscode/
game/saves/**
game/cache/**
log.txt
traceback.txt
errors.txt
project.json
game/script_version.txt
game/saves/navigation.json

*.psd
*.kra
*.kra~